*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    color: #022324;
}

main{
    display: flex;
}

h1{
    font-size: 3.5rem;
}

input, select{
    font-size: 1rem;
    padding: 10px 7px;
    border-radius: 8px;
    border-style: hidden;
}

button{
    background-color: #5EB1BF;
    padding: 10px 7px;
    font-size: 1rem;
    width: 100%;
    border-radius: 8px;
    border-style: none;
}

.title-area{
    width: 50%;
    height: 100vh;
    background-color: #5EB1BF;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-area{
    width: 50%;
    height: 100vh;
    background-color: #CDEDF6;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    font-size: 1.2rem;
}

form{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    gap: 13px;
    width: 50%;
}

.form-inputs{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3px;
}

.logo-image{
    margin-top: 40%;
    width: 250px;
}

.arrow-image{
    position: fixed;
    margin-top: 25px;
    margin-left: 25px;
    width: 40px;
    height: 40px;
}

@media screen and (max-width: 964px) {
    main{
        display: flex;
        flex-direction: column;
    }

    .title-area{
        width: 100%;
        height: 25vh;
    }

    .register-area{
        width: 100%;
        height: 75vh;
    }

    .logo-image{
        margin-top: 20%;
    }
}