:root {
    --grey-0: #0b090a;
    --grey-1: #161a1d;
    --grey-2: #212529;
    --grey-3: #343A40;
    --grey-4: #495057;
    --grey-5: #6C757D;
    --grey-6: #ADB5BD;
    --grey-7: #CED4DA;
    --grey-8: #DEE2E6;
    --grey-9: #E9ECEF;
    --grey-10: #F8F9FA;

    --primary__color: #222222;
    --second__color: #ECEBEB;
    --third__color: #8eaecc;
    --forthy__color: #1c5d99;
    --five__color: #407ea2;
    --sixth-color: #639fab;
    --seven-color: #8fb6c8;
    --eigth--color: #bbcde5;
}

body {
    background-color: var(--grey-3);
    font-family: "Josefin Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}
